@if (Visible)
{
    <Addons>
        <Addon AddonType="AddonType.Body">
            <TextEdit Role="@TextRole" Text="@Password" TextChanged="@OnTextChanged"/>
        </Addon>
        @if (ShowPasswordIcon)
        {
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Secondary" Clicked="@ChangePasswordTextRole">
                    <Icon Name="ShowPassword ? IconName.Eye : IconName.EyeSlash"/>
                </Button>
            </Addon>
        }
    </Addons>

    @if (ShowPasswordStrength && !string.IsNullOrEmpty(Password))
    {
        <div class="progress transition mx-3">
            <div class="progress-bar transition" style="width: @Progress; background-color: @ProgressColor;"></div>
        </div>
        
        <div class="d-flex align-items-center order-2 mt-1" style="font-weight: 500; padding-left: 1.25rem;">
             @L["Strength"] &nbsp;<span style="color: @ProgressColor;">@ProgressText</span>
        </div>
    }
}