@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Public.Web.Pages.Account
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers
@model Volo.Abp.Account.Public.Web.Pages.Account.ChangePasswordModel

@section scripts {
<abp-script-bundle name="@typeof(ChangePasswordModel).FullName">
    <abp-script src="/Pages/Account/ChangePassword.js"/>
</abp-script-bundle>
}

<form method="post">
    @if (!Model.HideOldPasswordInput)
    {
        <div class="form-floating mb-2 PasswordVisibilityButton">
            <input asp-for="CurrentPassword" type="password" id="CurrentPassword-input" class="form-control" placeholder="name@example.com">
            @Html.LabelFor(m => m.CurrentPassword)
            <i class="bi bi-eye-slash show-pass-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="@L["ShowPassword"]" data-bs-original-title="@L["ShowPassword"]"></i>
            <i id="capslockicon" class="bi bi-capslock caps-lock-icon" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!" data-bs-original-title="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!"></i>
            <span asp-validation-for="CurrentPassword" />
        </div>

    }

    <div class="form-floating mb-2 PasswordVisibilityButton">
        <input asp-for="NewPassword" type="password" id="NewPassword-input" class="form-control" placeholder="name@example.com">
        @Html.LabelFor(m => m.NewPassword)
        <i class="bi bi-eye-slash show-pass-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="@L["ShowPassword"]" data-bs-original-title="@L["ShowPassword"]"></i>
        <i id="capslockicon" class="bi bi-capslock caps-lock-icon" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!" data-bs-original-title="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!"></i>
        <span asp-validation-for="NewPassword" />
    </div>

    <div class="form-floating mb-2 PasswordVisibilityButton">
        <input asp-for="NewPasswordConfirm" type="password" id="NewPasswordConfirm-input" class="form-control" placeholder="name@example.com">
        @Html.LabelFor(m => m.NewPasswordConfirm)
        <i class="bi bi-eye-slash show-pass-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="@L["ShowPassword"]" data-bs-original-title="@L["ShowPassword"]"></i>
        <i id="capslockicon" class="bi bi-capslock caps-lock-icon" style="display: none;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" aria-label="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!" data-bs-original-title="<i class='bi bi-exclamation-circle'></i> @L["CapsLockOn"]!"></i>
        <span asp-validation-for="NewPasswordConfirm" />
    </div>
    
    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value" />
    </div>
</form>
